.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  width: 80%;
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .card {
    width: 40%;
  }
}
.heading {
  color: #171f46;
  font-size: 24px;
  font-family: 'Roboto';
}
.description {
  color: #64748b;
  font-size: 18px;
  font-family: 'Roboto';
}
.image {
  height: 50px;
  width: 50px;
  align-self: flex-end;
}
